.sizeButtons {
    display: grid;
    align-self: center;
    width: 20rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "button1 button2 button3 button4"
        ". button5 button5 .";
    gap: 1rem;
    margin-top: 2rem;
}

.sizeButtons > :nth-child(1) {
    grid-area: button1;
}
.sizeButtons > :nth-child(2) {
    grid-area: button2;
}
.sizeButtons > :nth-child(3) {
    grid-area: button3;
}
.sizeButtons > :nth-child(4) {
    grid-area: button4;
}
.sizeButtons > :nth-child(5) {
    grid-area: button5;
}
