.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--head-text);
  background-color: var(--head-bg);
  padding: 0 5%;
}

.h1:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.navLink {
  cursor: pointer;
  text-align: center;
  width: 8.5rem;
}

.navLink:hover {
  font-weight: bold;
}
