:root {
    font-family: Helvetica;
    --pebble-white: #FEFBEA;
    --pebble-black-light: #888B8D;
    --pebble-black-dark: #36454f;
    --selected: #E0A526;
}

body {
    margin: 0;
}

header {
    background-color: pink;
}

h1 {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.row {
    display: flex;
    gap:1rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2rem;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    background: lightgray;
}

.available:hover {
    background-color: green;
    cursor: pointer;
}

.pebble.player-a {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background: black;
    background: radial-gradient(circle at 33% 33%, var(--pebble-black-light) 20%, var(--pebble-black-dark) 50%, #000);
}

.pebble.player-b {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background: black;
    background: radial-gradient(circle at 33% 33%, var(--pebble-white) 40%, #000 95%);
}

#gamecontrols {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: green;
    padding: 1rem;
}

#gridsize {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sizeselector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    aspect-ratio: 1/1;
    border: 1px black solid;
    box-sizing: border-box;
}

.sizeselector:hover {
    cursor: pointer;
}

.sizeselector.selected {
    border: 2px solid var(--selected);
}

#newgame {
    align-self: center;
    width: 7rem;
}